body {
    /*This changes the elements in the body*/
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/*Applying style to the header*/
header {
    /*padding: 20px 35px;*/
    padding: 10px 15px 20px 25px;
    background-color: #39a6b2;
}